.chat-panel > .panel-body
{
    padding: 0px;
}

.chat-panel
{
    margin-bottom:0px;
    height: 100%; 
}

.chat-area{
    height: 90%;
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 20px;
    max-height: 100%;
}

.panel-body > .input-group{
    background: #ececec;
    padding: 5px;
    position: absolute;
    bottom: 0px;
}

input[type='text']:focus {
  outline: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.chat-msg{
    background: #2495f7;
    min-width: 80px;
    display: inline-block;
    color: white;
    padding: 10px;
    font-weight: 300;
    border-radius: 10px;
    letter-spacing: 1px;
    margin: 3px;
}

.msg-user{
    background: #888;
    float: right;
    clear: both;
}

.user-infobox{
    width: 300px;
    margin: auto;
    margin-top:30px; 
}

.row > div
{
    padding: 0px;
}
